.title {
	text-align: center;
	background-color: lightblue;
	height: 50px;
	line-height: 50px;
	border: 3px solid orange;
	border-bottom: 0px;
	font-size: 24px;
	font-weight: bold;
}

.content {
	background-color: #7FFFD4;
}

.content table {
	width: 100%;
	text-align: center;
	border-right: 3px solid orange;
	border-bottom: 3px solid orange;
}

.content td,
.content th {
	height: 40px;
	line-height: 40px;
	border-left: 3px solid orange;
	border-top: 3px solid orange;
}
